<header class="navbar navbar-fixed-top navbar-inverse">
  		<div class="container">
  			<%= link_to "sample_app", "#", id:"logo" %>
  			<nav>
  				<ul class="nav navbar-nav navbar-rigth">
  					<li><%= link_to "Home", "#" %></li>
  					<li><%= link_to "Help", "#" %></li>
  					<li><%= link_to "Login", "#" %></li>
  				</ul>
  			</nav>
  		</div>
</header>