<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %> | Ruby on Rails Tutorial Sample App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render "layouts/header" %>
  	<div class="container">
    	<%= yield %>
    </div>
  </body>
</html>

