<%= form_with(model: micropost, local: true) do |form| %>
  <% if micropost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(micropost.errors.count, "error") %> prohibited this micropost from being saved:</h2>

      <ul>
      <% micropost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user %>
    <%= form.text_field :user, id: :micropost_user %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content, id: :micropost_content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
