<% provide :title, "Home" %>

<div class="center jumbotron">
	<h1>Sample App</h1>
	<h2>
		This is the homepage for 
		<a href="http://www.railstutorial.org">Ruby on Rails tutorial</a>
		sample application.
	</h2>

	<%= link_to "Sign up now!", "#", class: "btn btn-lg btn-primary" %>
</div>